<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975107415188-57qaudtfl0308afrjrrfmasnq23nn6di.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975107415188-57qaudtfl0308afrjrrfmasnq23nn6di</string>
	<key>API_KEY</key>
	<string>AIzaSyAnqPP1Lh7lSAT8KqGmj1jnnBgwJxLjhAw</string>
	<key>GCM_SENDER_ID</key>
	<string>975107415188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.PickupGames</string>
	<key>PROJECT_ID</key>
	<string>pickupgames-f8b09</string>
	<key>STORAGE_BUCKET</key>
	<string>pickupgames-f8b09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975107415188:ios:14014b0849b33d1adba881</string>
	<key>DATABASE_URL</key>
	<string>https://pickupgames-f8b09.firebaseio.com</string>
</dict>
</plist>