<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>471389434962-es9hu18ogfta4l7tnjsg4mi0n51euf81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471389434962-es9hu18ogfta4l7tnjsg4mi0n51euf81</string>
	<key>API_KEY</key>
	<string>AIzaSyBBsOt4PEq-N_OFhcT6PfqWw2hZPVnFw04</string>
	<key>GCM_SENDER_ID</key>
	<string>471389434962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.MealPrepr</string>
	<key>PROJECT_ID</key>
	<string>mealprepr-93bdb</string>
	<key>STORAGE_BUCKET</key>
	<string>mealprepr-93bdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471389434962:ios:e33a206bc9d5f58e</string>
	<key>DATABASE_URL</key>
	<string>https://mealprepr-93bdb.firebaseio.com</string>
</dict>
</plist>